<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<base th:href="${#request.getContextPath()}+'/'">
<link href="jquery/bootstrap_3.3.0/css/bootstrap.min.css" type="text/css" rel="stylesheet" />

<script type="text/javascript" src="jquery/jquery-1.11.1-min.js"></script>
<script type="text/javascript" src="jquery/bootstrap_3.3.0/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$(function () {

		})
		// 打开新增
		function createModel() {

		}
		// 打开修改
		function editModel() {

		}
		// 弹出提示窗口
		function alertMsg(msg) {
			$('#alert-body').html(msg);
			$('#alertModal').modal('show');
		}
		// // 删除函数
		// function deleteData() {
		// 	var input_check = $("input[name=ck]:checked");
		// 	var length = input_check.length;
		// 	if (length == 0) {
		// 		alertMsg("请选择需要删除的数据!");
		// 		return;
		// 	}
		// 	if(confirm("确定删除这"+ length +"条数据？")) {
		// 		var lst = new Array();
		// 		$.each(input_check,function (index,item) {
		// 			lst.push($(item).val());
		// 		});
		// 		$.ajax({
		// 			url : 'settings/dicttype/delete',
		// 			data:{"ids" : lst},
		// 			type : 'post',
		// 			success : function (data) {
		// 				alertMsg(data.msg);
		// 				if (data.success) {
		//
		// 				}
		// 			}
		// 		})
		// 	}
		// }
		function allClick() {
			//取得全选复选框的选中未选 中状态
			var ischeck=$("#all").prop("checked");
			//将此状态赋值给每个商品列表里的复选框
			$("input[name=ck]").each(function () {
				this.checked=ischeck;
			});
		}
		function ckClick() {
			//取得所有name=ck的被选中的复选框
			var length=$("input[name=ck]:checked").length;
			//取得所有name=ck的复选框
			var len=$("input[name=ck]").length;
			//比较
			if(len == length){
				$("#all").prop("checked",true);
			}else
			{
				$("#all").prop("checked",false);
			}
		}
	</script>
</head>
<body>

	<div>
		<div style="position: relative; left: 30px; top: -10px;">
			<div class="page-header">
				<h3>字典类型列表</h3>
			</div>
		</div>
	</div>
	<div class="btn-toolbar" role="toolbar" style="background-color: #F7F7F7; height: 50px; position: relative;left: 30px;">
		<div class="btn-group" style="position: relative; top: 18%;">
		  <button type="button" class="btn btn-primary" onclick="createModel()"><span class="glyphicon glyphicon-plus"></span> 创建</button>
		  <button type="button" class="btn btn-default" onclick="editModel()"><span class="glyphicon glyphicon-edit"></span> 编辑</button>
		  <button type="button" class="btn btn-danger" onclick="deleteData()"><span class="glyphicon glyphicon-minus"></span> 删除</button>
		</div>
	</div>
	<div style="position: relative; left: 30px; top: 20px;">
		<table class="table table-hover">
			<thead>
				<tr style="color: #B3B3B3;">
					<td><input type="checkbox" id="all" onclick="allClick()"/></td>
					<td>序号</td>
					<td>编码</td>
					<td>名称</td>
					<td>描述</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="type:${dicType}" th:class="${typeStat.odd ? 'active' : ''}">
					<td><input type="checkbox" name="ck" onclick="ckClick()" th:value="${type.code}"/></td>
					<td th:text="${typeStat.count}">1</td>
					<td th:text="${type.code}">sex</td>
					<td th:text="${type.name}">性别</td>
					<td th:text="${type.description}">性别包括男和女</td>
				</tr>
			</tbody>
		</table>
	</div>

	<!-- 创建用户的模态窗口 -->
	<div class="modal fade" id="dictTypeModal" role="dialog">
		<div class="modal-dialog" role="document" style="width: 90%;">
			<div class="modal-content">
				<div style="position:  relative; left: 30px;">
					<h3 id="title">新增字典类型</h3>
					<div style="position: relative; top: -40px; left: 70%;">
						<button type="button" class="btn btn-primary">保存</button>
						<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					</div>
					<hr style="position: relative; top: -40px;">
				</div>
				<form class="form-horizontal" role="form">

					<div class="form-group">
						<label for="create-code" class="col-sm-2 control-label">编码<span style="font-size: 15px; color: red;">*</span></label>
						<div class="col-sm-10" style="width: 300px;">
							<input type="text" class="form-control" id="create-code" style="width: 200%;" placeholder="编码作为主键，不能是中文">
						</div>
					</div>

					<div class="form-group">
						<label for="create-name" class="col-sm-2 control-label">名称</label>
						<div class="col-sm-10" style="width: 300px;">
							<input type="text" class="form-control" id="create-name" style="width: 200%;">
						</div>
					</div>

					<div class="form-group">
						<label for="create-describe" class="col-sm-2 control-label">描述</label>
						<div class="col-sm-10" style="width: 300px;">
							<textarea class="form-control" rows="3" id="create-describe" style="width: 200%;"></textarea>
						</div>
					</div>
				</form>

				<div style="height: 200px;"></div>
			</div>
		</div>
	</div>

	<!--警告窗口-->
	<div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h2 class="modal-title" id="alertModalLabel">提示</h2>
				</div>
				<div class="modal-body" >
					<p id="alert-body" style="color: red"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">确定</button>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>